# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Test output
coverage
playwright-report
test-results

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Personal Notes 
docs/NOTES.md
docs/PE2_Submission_Checklist.md
docs/Project Exam 2 Brief _ Noroff.pdf
docs/design-concept.md